.col1 {
    background-color: rgb(184, 184, 184);
}

.change {
    background-color: black;
}

/* .Card {
    background-color: rgb(206, 206, 206);
}

.Cardbody {
    background-color: rgb(189, 189, 189);
}

.header {
    margin-top: 20px;
} */